<html>
	<head>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/script.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	</head>
	<body ng-App="prognoStore">
		<div class="container" ng-controller="prognoCtrl">
			<div class="row col-xs-12"><h2>{{ title }}</h2></div>
			<div class="row col-xs-6">
				<label>Latitude:</label><input type="text" ng-model="lat" ng-change="change()" class="form-control">
			</div>
			<div class="row col-xs-6">
				<label>Longitude:</label><input type="text" ng-model="lng" ng-change="change()" class="form-control">
			</div>
			<div class="row col-xs-12" ng-show="records.status.message == 'no observation found'">
				{{records.status.message}}
			</div>
			<div class="row col-xs-12" ng-hide="records.status.message == 'no observation found'">
				<table class="table">
					<thead>
						<th>Station Name</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Country Code</th>
						<th>Temperature</th>
						<th>Humidity</th>
						<th>Wind Speed</th>
						<th>Wind Direction</th>
					</thead>
					<tbody>
						<tr ng-repeat="record in records">
							<td>{{record.stationName}}</td>
							<td>{{record.lat}}</td>
							<td>{{record.lng}}</td>
							<td>{{record.countryCode}}</td>
							<td>{{record.temperature}}</td>
							<td>{{record.humidity}}</td>
							<td>{{record.windSpeed}}</td>
							<td>{{record.windDirection}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>